<header class="home-header">
    <div class="head">
        <div class="city-btn"><img src="/icfont/dingwei.png" alt=""><span>上海</span></div>
        <div class="heade-search">
            <img src="" alt="">
            <span>我是随机的字符wwwwwwww</span>
        </div>
        <div class="heade-right-icfont">

        </div>
    </div>
</header>